<h5 style="margin-top: 0px;">{{ __("Created Events Summary") }}</h5>
<table class="table table-bordered small">
	<thead>
		<tr>
			<td style="width: 50%">{{ __("Event") }}</td>
		</tr>
	</thead>
	<tbody>
        {% for row in created_events %}
		<tr>
			<td>
				{{ row["name"] }}
			</td>
		</tr>
        {% endfor %}
	</tbody>
</table>

<h5 style="margin-top: 0px;">{{ __("Events as Participant") }}</h5>
<table class="table table-bordered small">
	<thead>
		<tr>
			<td style="width: 50%">{{ __("Event") }}</td>
		</tr>
	</thead>
	<tbody>
        {% for row in assigned_events %}
		<tr>
			<td>
				{{ row["name"] }}
			</td>
		</tr>
        {% endfor %}
	</tbody>
</table>
